
body {
	background: #EEE;
}

header {
	display: flex;
	justify-content: space-between;
}

.frame-wrapper {
	display: flex;
	justify-content: center;
}

.frame {
	background: #FFF;
	width: 100%;
	max-width: 800px;
}

